/* Fonts */
@font-face {
    font-family: 'Kastella';
    src: url("../font/fanlste/fanlste.otf") format('truetype');
}

/* All */
* {
    margin: 0;
    padding: 0;
}

/* Html */
html {
    overflow-x: hidden;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/wallpaper.png);
    background-size: cover;
    background-position: bottom;
    filter: brightness(75%);
}

/* navbar */
nav {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

/* nav links */
nav a {
    width: 100%;
    text-align: center;
    padding: 20px;
    font-family: Arial;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 4px 4px rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
}

/* home link */
#special {
    background: -webkit-linear-gradient(left, blue, purple, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 140%;
    text-shadow: 2px 2px rgba(255, 255, 255, 0.040);
}

/* hover effects */
nav a:hover:before {
    content: '| ';
}

nav a:hover:after {
    content: ' |';
}

/* dark linear filter */
#hidder {
    position: absolute;
    z-index: 0;
    width: 101%;
    height: 101%;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.915));
    /* filter: blur(10px); */
    backdrop-filter: blur(5px);
}

/* form */
#form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    padding: 3% 0;
    width: 55vw;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    font-family: Arial;
}

#form label {
    width: 80%;
    text-align: left;
}

#form input:not(#submit) {
    padding: 1%;
    border-radius: 8px;
    background-color: #eee;
    border: none;
}

.input {
    width: 80%;
}

#form a {
    color: #512da8;
}

#submit {
    border-radius: 8px;
    border: none;
    background-color: #512da8;
    color: white;
    font-weight: bold;
    padding: 1% 4%;
}

#submit:hover {
    cursor: pointer;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    padding: 3% 4%;
    background-color: black;
    color: white;
    font-family: Arial;
    text-align: left;
}

/* description & notes of publication */
#left {
    width: 40%;
    font-size: 16px;
}

/* authors line */
#authors {
    float: right;
    font-style: italic;
    color: grey;
}

/* links & informations */
#right {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(5, 1fr);
    justify-content: space-around;
    text-align: left;
}

/* navigation */
#one {
    grid-column: 1;
    grid-row: 1;
}

/* links */
#oneOne {
    grid-column: 1;
    grid-row: 2;
}

#oneTwo {
    grid-column: 1;
    grid-row: 3;
}

#oneThree {
    grid-column: 1;
    grid-row: 4;
}

#oneFour {
    grid-column: 1;
    grid-row: 5;
}

/* more infos */
#two {
    grid-column: 2;
    grid-row: 1;
}

/* links */
#twoOne {
    grid-column: 2;
    grid-row: 2;
}

#twoTwo {
    grid-column: 2;
    grid-row: 3;
}

/* contact us */
#three {
    grid-column: 3;
    grid-row: 1;
}

/* link */
#threeOne {
    grid-column: 3;
    grid-row: 2;
}

#threeTwo {
    grid-column: 3;
    grid-row: 3; 
}


/* all links */
.link a {
    color: grey;
}

.link a:hover {
    color: white;
}

/* RESPONSIVE */
@media screen and (max-width: 1845px) {
    /* none */
}