/* Fonts */
@font-face {
    font-family: 'Kastella';
    src: url("../font/fanlste/fanlste.otf") format('truetype');
}

/* All */
* {
    margin: 0;
    padding: 0;
}

/* Html */
html {
    background-color: rgb(40, 235, 255);
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(40, 235, 255);
    font-family: Arial, sans-serif;
}

nav a {
    padding: 1%;
    text-decoration: none;
    color: black;
}

/* Main */
main {
    margin: 5%;
    font-family: Arial, sans-serif;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title div h1 {
    font-family: 'Kastella';
    font-size: 7em;
    text-align: right;
    font-style: italic;
    /* color: white; */
    /* text-shadow: 0px 7px 10px rgba(255, 149, 167, 0.733); */
    background: -webkit-linear-gradient(#837aff, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Footer */
footer {
    margin: 5% 0 0 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: black;
    font-family: Arial;
    color: white;
}

#links {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#links a {
    color: white;
}