<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Liste d'élèves</h1>
    {% if eleves|length == 0 %}    
        <p>Aucun élève ne correspond à la recherche.</p>
    {% else %}  
        <ul>
            {% for eleve in eleves %}
                <li>{{eleve['nom']}}, {{eleve['prenom']}}, {{eleve['classe']}}</li>
            {% endfor %}
        </ul>
    {% endif %}
        
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><p>pue la merde flask</p>
</body>
</html>